body {
  margin: 0;
  padding-left: 16%;
  padding-top: 3%;
  background-color: black;
  /* margin: 10; */
  /* height: flex;
  width: flex; */
  /* align-items:flex-start */
  /* display: flex;
  position: relative;
  align-items: center;
  justify-content: center; */
}

.display-none {
  display: none;
}

/* canvas {
  width: 80%; 
  height: 100%;
  display: block;
  /* align-items: center; */
