body {
  margin: 0;
  margin-top: 50px;
  margin-left: 150px;
  padding-left: 16%;
  padding-top: 3%;
  background-color: black;
  /* margin: 10; */
  /* height: flex;
  width: flex; */
  /* align-items:flex-start */
  /* display: flex;
  position: relative;
  align-items: center;
  justify-content: center; */
}

.display-none {
  display: none;
}


